<p>user-list works!</p>

<!-- table -->
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2>User List</h2>
      <!-- filter -->
      <div>
        <input (keyup)="onFilterPhrase($event)" class="form-control mb-1" type="search"
        placeholder="Search" aria-label="Search">
      </div>
      <table class="table">
        <thead>
          <tr>   <!--    sorter            --> <!-- table -->
            <th (click)="onColumnSelect('id')">#</th>
            <th (click)="onColumnSelect('name')">Name</th>
            <th (click)="onColumnSelect('email')">Email</th>
            <th (click)="onColumnSelect('address')">Address</th>
            <th (click)="onColumnSelect('active')">Active</th>
          </tr>
        </thead>
        <tbody>
          <!-- table --> <!-- table             -->   <!-- filter        -->  <!--    sorter          -->
          <tr *ngFor="let user of userList$ | async | filter: phrase: 'name' | sort: columnKey:direction">
            <!-- table -->
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.active }}</td>
            <!-- editor button  -->

            <!-- delete -->
            <td>
              <div class="btn-group">
                <!-- editor -->
                <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                  <i class="fa fa-pencil"></i>
                </button>
                <!-- delete -->
                    <!-- (click)="onDelete(user)" -->
                <button (click)="onDelete(user)" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
