<p>user-list works!</p>

<!-- table -->
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2>User List</h2>
      <table class="table">
        <thead>
          <tr>
            <!-- table -->
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- table --> <!-- table             -->
          <tr *ngFor="let user of userList$ | async">
            <!-- table -->
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.active }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
