<p>user-editor works!</p>
<div class="container">
  <div class="row">
         <!-- editor -->
      <div *ngIf="user$ | async as user" class="col-6 offset-3">
      <h2>Update / Create User</h2>
            <!-- editor    -->
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm, user)">
        <div class="form-group">
                 <!-- editor    -->
          <input [(ngModel)]="user.id" name="id" class="form-control" type="hidden" >
        </div>
        <div class="form-group">
          <label for="">Name</label>
                  <!-- editor       -->  <!-- Validation: min 8 char, max 40 char, required -->
          <input [(ngModel)]="user.name" pattern=".{8,40}" required
          name="name" class="form-control" type="text">
          <div [hidden]="userForm.controls.name?.valid || userForm.controls.name.pristine" class="error-message">
            Minimum 8 character, maximum 40 character.
          </div>
        </div>

        <div class="form-group">
          <label for="">Email</label>
        <!--   Help: https://stackoverflow.com/questions/46155/how-to-validate-an-email-address-in-javascript -->
                                          <!-- Validation: valid email, required. -->
          <input [(ngModel)]="user.email" pattern="^.{3,}@{1}.{3,}\.{1}[a-z]{2,}$" required
          name="email" class="form-control" type="text">
        </div>
        <div class="form-group">
                 <!-- editor    -->
          <label for="">Address</label>
                                            <!-- Validation: min 8 char, max 100 char, required -->
          <input [(ngModel)]="user.address" pattern=".{8,100}" required
          name="address" class="form-control" type="text">
          <div [hidden]="userForm.controls.address?.valid || userForm.controls.address.pristine" class="error-message">
            Minimum 8 characters, maximum 100 characters.
          </div>
        </div>
        <div class="form-group">
          <label>Active</label>
          <!-- No validation. -->
                  <!-- editor    -->
          <select [(ngModel)]="user.active" name="active" class="form-control">
            <option [ngValue]="true">active</option>
            <option [ngValue]="false">inactive</option>
          </select>
          <!-- save button  update  create-->
          <button [disabled]="userForm.invalid" type="submit" class="btn btn-primary btn-block mt-5">
            <i class="fa fa-save"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
